name: Cicd Service

on:
  push:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: npm install

    - name: Create .ssh directory and known_hosts file
      run: |
        mkdir -p ~/.ssh
        touch ~/.ssh/known_hosts

    - name: Add server to known hosts
      run: ssh-keyscan 143.198.0.200 >> ~/.ssh/known_hosts

    - name: Deploy to server
      run: |
        ssh root@143.198.0.200 'cd do-cicd && git pull origin main && npm install && npm start'
      env:
        token: ${{ secrets.DIGITALOCEAN_TOKEN }}
